{
  "account_access_key": "",
  "controller_host": "",
  "required_packages": [
    "python3-lxml",
    "vim",
    "wget",
    "unzip"
  ],
  "controller_port": "",
  "tier_name": "",
  "node_name": "",
  "account_name": "",
  "machine_agent_source": "",
  "machine_agent_installer_archive": "",
  "machine_agent_directory": "/opt/appdynamics/machine-agent",
  "machine_agent_systemd_service_name": "appd-machine-agent",
  "server_visibility_enabled": "true",
  "netviz_agent_source": "",
  "netviz_agent_installer_archive": "",
  "netviz_agent_directory": "/opt/appdynamics/networkvisibility",
  "netviz_agent_systemd_service_name": "appd-netviz-agent",
  "application_name": "rhel-tibco-ems-ce",
  "appdynamics_dir": "/opt/appdynamics",
  "tibco_ems_ce_local_source": "",
  "tibco_installer_directory": "",
  "tibco_ems_installer_version": "",
  "tibco_ems_installer_unpacked_version_dir": "",
  "tibco_config_directory": "/opt/tibco/config",
  "tibco_datastore_local_directory": "/opt/tibco/data/local",
  "tibco_ems_password": "appdynam1cs"
}
